*{
    box-sizing: border-box;
    margin:0;
}
body{
    background-color: rgb(240, 240, 240);
}
.head-logo{
    border-radius: 100%;
    border: 3px solid rgb(3, 160, 184);
}

/* @media screen and (min-width:200px) and (max-width: 768px){
    .logo-title{
        visibility:hidden;
    }
} */

.header-big{
    font-size: 55px;
    font-family: "anton-regular";
    font-weight: 100;
}

.address-state{
    font-size: 40px;
    font-family: "anton-regular";
    font-weight: bold;
}

.circles{
    width:100px;
    height: 100px;
    border-radius: 100%;
    border: 5px solid white;
    color:white;
    font-weight: bold;
    padding-top: 30px;
    display: flex;
    justify-content:center;
    font-family: "anton-regular";
    font-size: 17px;
}

.circle-design{
    background: #E6563B;
}

.circle-develop{
    background: #EB9D3A;   
}
.circle-support{
    background: #7CB06C;  
}
.circle-host{   
    background: #00ABA9;   
}

@media screen and (min-width: 576px) and (max-width: 768px){
    .project-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 515px;
        height: auto;
        border: 5px solid #e6e6e6;
    }
}
@media screen and (min-width: 992px) and (max-width:1200px){
    .project-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 265px;
        height: auto;
        border: 5px solid #e6e6e6;
    }
}

.small-img {
    font-family: anton-regular;
    font-size: 25px;
}

.color-icon{
    font-family: "anton-regular";
    padding: 0px 8px 0px 8px;
    font-size: 15px;
    border-radius: 100%;
    margin-left: 5px;

}


.red-d {
    background-color: #E6563B;
    margin-left: 40px;
}
.orange-d {
    background-color: #EB9D3A;
}
.green-s {
    background-color: #7CB06C;
}
.blue-h {
    background-color: #00ABA9;
}